/* Container */
.mainbox {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  background-color: #f5f7fa;
}

.leftbox {
  display: flex;
  flex-direction: column;
  width: 21vw;
  height: auto;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}

.corporatekb{
 height: 27vh;
} 

.corporatekburl {
  height: 11vh;
}
  
.label {
  display: block;
  align-self: flex-start;
  font-family: Helvetica, Arial, Sans;
  font-weight: 500;
  margin-left: 1vw;
  color: black;
}

.outsideinput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.1vw solid black;
  border-radius: 4vw;
  background: white;
  width: 19vw;
  height: 5vh;
}

.input {
  width: 17vw;
  height: 3vh;
  border: none;
  outline: none;
}

.corporatetopic {
  height: 11vh;
}

.topicsubmit {
  height: 5vh;
  width: 15vw;
  align-self: flex-end;
  background-color: gainsboro;
  border: 0.1vw solid black;
  border-radius: 5vw;
  font-family: Helvetica, Arial, sans-serif;
}

.topicsubmit: hover {
  height: 5vh;
  width: 15vw;
  align-self: flex-end;
  background-color: #9333ea;
  border: 0.1vw solid black;
  border-radius: 5vw;
  font-family: Helvetica, Arial, sans-serif;
}

.externalkb {
  height: auto;
  justify-content: start;
}

.searchbox {
  height: 11vh;
}

.filterbox {
  height: 11vh;
}

.selectanchor {
   position: relative;
}
  
.custom-select {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  width: 19vw;
  height: 5vh;
  border: 0.1vw solid black;
  border-radius: 5vw;
  cursor: pointer;
  background-color: lavender;
}

.selectwords{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-self: center;
 width: 16vw;
 height: 4vh;
 font-family: Helvetica, Arial, sans-serif;
 color: black;
 background-color: lavender;
}
 
.arrow {
  font-size: 1.8vw;
  color: #9333ea;   /* makes only the arrow purple */
  background: none; /* remove the purple box */
  line-height: 1;   /* tighten spacing */
  pointer-events: none;
}

.pill-options {
  display: none;
}

.pill-options-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 5.5vh;
  left: 0.5vw;
  height: 15vh;
  width: 19vw;
  border: none;
  z-index: 100;
}

.pill-option {
  border: 0.1vw solid black;
  border-radius: 5vw;
  text-align: center;
  cursor: pointer;
  height: 5vh;
  width: 19vw;
  background-color: gainsboro;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.searchenginebox {
  height: 11vh;
}

.sitebox {
  height: auto;
}

.smartinputdiv {
  height: auto;
  display: block;
}

.smart-input {
  width: 20vw;
  height: auto;
  display: block;
}

.externalsubmit {
  height: 5vh;
  width: 10vw;
  align-self: flex-end;
  background-color: gainsboro;
  border-radius: 5vw;
  border: 0.1vw solid black;
  font-family: Helvetica, Arial, sans-serif;
}

.rightbox {
  display: flex;
  flex-direction: column;
  width: 78vw;
  height: 100vh;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}
/* SmartInput special */
.sitepreviewbox{
  width: 78vw;
  max-height: 60vh;
  align-self: center;
}

.sitepreviewbox > .smartdumpbox {
  flex: 1;               /* child will shrink/stretch inside */
  height: 60vh;         /* important: prevents child from overflowing */
}

.answerbox{
  height: 30vh;
}

