/* Container */
.mainbox {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.leftbox {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}

.corporatekb{
 height: 27vh;
} 

.corporatekburl {
  height: 11vh;
}
  
.label {
  display: block;
  align-self: flex-start;
  font-style: Helvetica, Arial, Sans;
  font-weight: 500;
}

.outsideinput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.1vw solid black;
  border-radius: 4vw;
  background: white;
  width: 19vw;
  height: 5vh;
}

.input {
  width: 17vw;
  height: 3vh;
  border: none;
  outline: none;
}

.corporatetopic {
  height: 11vh;
}

.topicsubmit {
  height: 5vh;
  width: 15vw;
  align-self: flex-end;
  background-color: blue;
  border: 0.1vw solid black;
  border-radius: 5vw;
}

.externalkb {
  min-height: 73vh;
  justify-content: start;
}

.searchbox {
  height: 11vh;
}

.filterbox {
  height: 11vh;
}

.selectanchor {
   position: relative;
}
  
.custom-select {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  width: 19vw;
  height: 5vh;
  border: 0.1vw solid black;
  border-radius: 5vw;
  cursor: pointer;
}

.selectwords{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-self: center;
 width: 17vw;
 height: 4vh;
}
 
.arrow {
  font-size: 1.8vw;
  pointer-events: none; /* so click still hits parent */
}

.pill-options {
  display: none;
}

.pill-options-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 5.5vh;
  left: 0.5vw;
  height: 15vh;
  width: 19vw;
  border: none;
  z-index: 100;
}

.pill-option {
  border: 0.1vw solid black;
  border-radius: 5vw;
  text-align: center;
  cursor: pointer;
  height: 5vh;
  width: 19vw;
  background-color: blue;
}

.searchenginebox {
  height: 11vh;
}

.sitebox {
  height: 17vh;
}

.smartinputdiv {
  min-height: 14vh;
}

.smart-input {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  width: 19vw;
}

.externalsubmit {
  height: 5vh;
  width: 10vw;
  align-self: flex-end;
  background-color: blue;
  border-radius: 5vw;
  border: 0.1vw solid black;
}

.rightbox {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}
/* SmartInput special */
.sitepreviewbox{
  height: 70vh;
}

.answerbox{
  height: 30vh;
}

